@import "bootstrap/bootstrap.less";

body {
  font-family: 'Oswald', 'sans-serif';
}

.col-lg-12 {
  padding-left: 0;
}


.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.y.axis line {
  stroke: #666;
  opacity: .5;
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
}


.x.axis path {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #666;
  stroke-width: 1px;
}

.y.axis .tick,
.x.axis .tick {
  font-size: 16px; 
  stroke: #666;
  opacity: .5;
}

.legend-text {
  //stroke: white;
}

.line {
}

.y.axis path {
  fill: none;
  stroke-dasharray: 3px, 3px;
  shape-rendering: crispEdges;
  stroke: none;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

#main {
  margin: 0;
  padding: 0;
  top: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#intro {
  background-size: 100%;
  background: #000 url(../img/crowd2.jpg) repeat-y center center;

  #intro-text {
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 52%;
    top: 20px;
    left: 72px;
    color: #fff;

    h1 {
      font-size: 115px;
    }

    p {
      font-size: 30px;
      margin-top: 50px;
      font-family: verdana;
    }

  }
}

#main-text {
  font-size: 30px;
  display: inline-block;
  position: absolute;
  z-index: 10;
  width: 52%;
  top: 20px;
  left: 72px;
  color: #333;
}
